$color-bg: #131419;
$color-shadow: #b6b4b4;
$color-white: #fff;
$color-red: #ae1100;
$ruler: 16px;
.footer-section {
  background-color: $color-bg;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);

  .footer-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
      .link{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
          width: 50px;
          height: 50px;
          margin: 10px;
          box-sizing: border-box;
        box-shadow: -5px -5px 10px rgba(255,255,255,0.05), 5px 5px 15px rgba(0,0,0,0.5);
          display: flex;  
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          &:hover {
            box-shadow: -2px -2px 5px rgba(0,0,0,0.5), 2px 2px 5px rgba(255,255,255,0.05);
        }
        }
      }
    

    .topButton {
      border: none;
      background: none;
      color: white;
      font-size: 25px;
      font-weight: bold;
    }
  }
}